body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #fff;
	font: 16px/30px "Helvetica", sans-serif;
	color: #333;
}

a {
	color: #666666;
	text-decoration: none;
}
	a:hover {
		color: #353535;
	}

header {
	height: 80px;
	position: fixed;
	width: 100%;
	background: #aaaaaa;
	background: -moz-linear-gradient(top, #aaaaaa 1%, #7f7f7f 100%);
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);
	z-index: 10;
}
	#header-content {
		width: 1000px; margin: 0 auto; padding: 35px 0 0 0;
		overflow: hidden;
	}
		#header-content h1 {
			float: left;
			font-size: 30px; text-transform: uppercase; letter-spacing: 10px;
		}
		#header-content nav {
			float: right;
		}
			#header-content nav li {
				float: left;
				font-size: 20px;
				margin: 0 0 0 50px;
				list-style: none;
			}

#videoplayer {
	background: #fff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#banner {
	height: 500px;
	position: fixed;
	background: url(https://i.imgur.com/xJ9H4Bh.jpg);
	background-size: cover;
	width: 100%;
	top: 80px;

}
	#banner h2 {
		margin: 130px auto;
		color: #FFFFFF;
		width: 800px;
		font-size: 50px; line-height: 60px; text-align: center;
		text-transform: uppercase;
		letter-spacing: 5px;
		text-shadow: 0 3px 5px rgba(0,0,0,0.3);
	}


#content {
	background: #fff;
	width: 100%;
	position: relative;
	top: 500px;
	z-index: 5;
}

#content2 {
	background: #fff;
	width: 100%;
	position: relative;
	top: 650px;
	z-index: 5;
}

article {
	width: 1000px; padding: 50px 0 0 0;
	margin: 0 auto;
}
	article p {
		margin: 0 0 30px 0;
	}
